__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.env
.venv/
venv/
.DS_Store
models/*
!models/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/outputs/*
!data/outputs/.gitkeep
wandb/
runs/
checkpoints/
*.safetensors
*.bin
*.pt
*.pth

